/* -- App -- */
.app {
  /* margin: 13rem 0 0 14rem; */
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #F8F8F8;
}

.galleries_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* -- Gallery -- */

.slider {
  transition: 200ms ease;
  width: 800px;
  height: 650px;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  position: relative;
  background: #fff;
  overflow: hidden;
}

.sliderFullScreen {
  transition: 200ms ease;
  width: auto ;
  height: 100vh;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  position: relative;
  background: #fff;
  overflow: hidden;
}

.currentImageContainer {
  border: none;
  background-color: transparent;
  outline-style: none;
}

.currentImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: zoom-in;
}

.currentImageActive  {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: 200ms ease-in-out;
  transform: scale(2);
  cursor: zoom-out;
}

.full_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border: none;
  outline-style: none;
  border-radius: 50%;
  background-color: #F8F8F8;
  cursor: pointer;
}

.fullScreen_icon {
  padding-top: .5rem;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.fullScreen_icon_expand{
  padding-top: .5rem;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.fullScreen_icon_close{
  padding-top: .5rem;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.no_display {
  display: none;
}

.full_screen_words {
  padding-top: .3rem;
  margin: 0;
  color: #176DB6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  width: 5rem;
  font-weight: 200;
}

.slide_btn {
  background: #B3B3B3;
  color:#F4F4F4;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  border: none;
  outline-style: none;
}

.slide_btn:hover {
  color: #B3B3B3;
  background-color: #F4F4F4;
}

.prev {
  position: absolute;
  top: 48%;
  left: 1.5rem;
}

.next {
  position: absolute;
  top: 48%;
  right: 1.5rem;
}

/* -- Gallery Item List -- */
.itemList_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.galleryItemList {
  height: 32.5rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.galleryItemList::-webkit-scrollbar {
  display: none;
}

.side_prev,
.side_next {
  color: #5F5F5F;
  margin-left: 1.2rem;
  outline-style: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 300;
}

/* -- Gallery Item -- */
.galleryItem {
  width: 4.0625rem;
  height: 2.8125rem;
  background-color: white;
}

.galleryItem:first-child {
  margin-top: 0;
  padding-top: 0;
}

.galleryItem:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.galleryItem > img {
  object-fit: contain;
}

.no_border {
  margin: 1rem 0;
  width: 4.0625rem;
  height: 2.8125rem;
  border: 2px solid #E3E3E3;
}

.border {
  margin: 1rem 0;
  width: 4.0625rem;
  height: 2.8125rem;
  border: 2px solid #31A1E0;
}

.galleryItem > img {
  height: 100%;
  width: 100%;
}

