/* -- App -- */
.app {
  /* margin: 13rem 0 0 14rem; */
  display: flex;
  height: 80vh;
  justify-content: center;
  background-color: #F8F8F8;
}

/* -- Gallery -- */
.gallery_container {
  margin-left: 20px;
  display: inline-block;
  /* border: 1px dotted red; */
  width: 800px;
  height: 650px;
  background-color: #FFF;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
}

.currentImage {
  width: 800px;
  height: 650px;
}

.button {
  background: #B3B3B3;
  color:#F4F4F4;
  text-align: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
}

.button:hover {
  color: #B3B3B3;
  background-color: #F4F4F4;
}

/* -- Gallery Item List -- */
.galleries_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.galleryItemList {
  display: inline-block;
  height: 420px;
  overflow: hidden;
}

/* -- Gallery Item -- */
.galleryItem {
  margin: 1rem 0;
  height: 50px;
  width: 80px;
  border: 1px solid transparent;
}

.galleryItem:hover {
  border: 1px solid #31A1E0;
}

.galleryItem > img {
  height: 100%;
  width: 100%;
}

